.restaurant-card {
  margin: 16px;
  border-radius: 8px;
  max-width: 400px;
  height: 350px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  background-color: #ffffff22;

  padding: 0 !important;

  .share-btn {
    width: 4rem;
    margin-top: 1rem;
  }

  .dish-name {
    color: #ffffff;
  }

  .favorite-btn {
    width: 2rem;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-container {
    position: relative;
  }

  .image-wrapper {
    height: 12rem;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .restaurant-image {
    width: 110% !important;
    min-height: 100% !important;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .restaurant-name {
    color: white;
    margin: 0 !important;
    padding: 0 !important;
  }

  .favorite-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .favorite-button i {
    font-size: 24px;
  }

  .restaurant-info {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  button {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    background-color: #ffd43b;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #fcc500;
    font-weight: bold;
  }

  a {
    display: block;
    margin-top: 8px;
    text-decoration: none;
    color: #ffd43b;
  }

  a:hover {
    text-decoration: underline;
  }
}
